body, *, *:before,*:after {
	box-sizing: border-box;

}

html, body {
	font-family: "Helvetica Neue", Helvetica, san-serif;
	font-size:16px;
	color: #474747;
}

h1,h2,h3,h4,h5,h6, .title {
	font-family: "Economica", san-serif;
	text-transform: uppercase;
	font-weight: bold;
	margin:0 0 1em;
}

h2 {
	font-size: 1.6rem;
}

h3 {
	font-size: 1.2rem;
}

a {
	color:inherit;
	font-weight: bold;
	text-decoration: none;
}

a:hover, a:visited a:active {
	text-decoration: none;
	color: inherit;
}

p {
	margin:0.5em 0;
	line-height: 1.3;
}

.fixed-width {
	width:940px;
	margin: 0 auto 0 auto;
}

/* Clearfix */

.clearfix:before,
.clearfix:after {
	content: "";
	clear: both;
 	display: table;
}

.data-block {
	margin-bottom: 3rem;
}

/* Header */

.page-header {
	border-top:5px solid #ebebeb;
	padding-bottom:2em;
	}

	.page-header > div {
		position: relative;
	}

	.page-header .logo {
		font-family: 'Pacifico', cursive;
		font-size: 3.5em;
		position: absolute;
		bottom:0;
	}

	.page-header nav {
		float:right;
		font-family:"Economica", san-serif;
		text-transform: uppercase;
	}

	.page-header nav li {
		color: #a5a5a5;
		float:left;
		margin-right:3rem;
		padding-top:2rem;
	}

	.page-header nav li:last-child {
		margin-right: 0;
	}

	.page-header nav li em {
		display: block;
		color: #474747;
		font-size: 1.6rem;
	}
/* Main Visual */
 
.main-visual {
	}

	.main-visual img {
		display: block;
	}

	.main-visual figcaption {
		background-color: #f6f6f6;
		padding:0.5em 1em;
	}

	.main-visual figcaption > strong {
		font-size: 1.4em;
	}

	.video {
		padding-bottom: 25px;
	}

/* Claims */

.claim {
	float:left;
	width: 30%;
	margin-right: 5%;

	}
	.claim:last-child {
		margin-right: 0;
	}

	.claim header > i {
		font-size: 2.5rem;
		font-weight:bold;
		color:#9a9a9a;
		float:left;
		width: 23%;
	}

	.claim header > h2 {
		float:left;
		width: 77%;
	}

/* Portfolio */

.portfolio {
	position: relative;
	;
}

	.portfolio:before {
		content: "";
		display: block;
		height: 30px;
		background: url(../images/pattern.png) left top;
		margin-bottom: 2em;
	}
	.portfolio .title-wrapper {
		position: absolute;
		top: 0;
		left:0;
		right: 0;
		text-align: center;
	}

	.portfolio h2 {
		background-color: #fff;
		display: inline;
		padding: 0.8em;
	}

	.work {
		float: left;
		width: 22%;
		margin-right: 3%;
	}

		.work:last-child {
			margin-right: 0;
		}

		.work figure {
			margin-bottom: 1em;
			width: 100%;
		}
/* Footer */

.page-footer:before {
	content: " ";
	display: block;
	height: 5px;
	background-image: url(../images/pattern.png);
}

.page-footer {
	background-color: #f4f4f4;
	color: #9b9b9b;
	font-size: 1rem;
	height:70px;
}

	.page-footer-content {
		padding: 1em;
}

	.page-footer .copyright {
		float: left;
}

	.page-footer .credits {
		float: right;
}






